h1, h2, h3, p, div, span, ul, li{
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: normal;
}
ul, li{
    list-style-type: none;
}

/* 基本版面架構 */
html{
    font-size: 16px;
}
body{
    height: 100%;
	touch-action: none;
	margin: 0;
    font-family: 'IBM Plex Sans Arabic', 'Noto Sans TC', sans-serif;
    --main-color:     hsl(212, 55%, 55%);
    --darker-color:   rgb(0, 19, 34);
    --soft-color:     rgba(179, 198, 213, 1);
    --textbg-color: rgba(255, 255, 255, 0.6);
}
#game-box{
    background-color: #000;
    overflow: hidden;
}
#canvas{
    position: absolute;
    filter: blur(0px) contrast(80%);
}

/* 頁首設定 */
#header{
    position: absolute;
    width: 100%;
    font-size: 1rem;
}
    #header h3{
        font-size: 1.25em;
        margin: 0.5em;
        color: var(--soft-color);
    }
    #header #game-menu{
        width: 100%;
        background-color: rgba(0, 0, 0, 0.6);
    }
    #header #game-menu li{
        float: left;
        max-width: 100%;
        transition: all 0.2s ease;
        overflow: hidden;
    }
    #header #game-menu label{
        font-size: 1.0em;
        margin: 0.5em;
        color: var(--soft-color);
    }
    #header #game-menu input{
        width: 4em;
        font-size: 0.8em;
        margin: 0.5em;
        color: var(--darker-color);
        opacity: 0.6;
    }
    #header #game-menu button{
        font-size: 1.0em;
        margin: 0.5em;
        color: var(--darker-color);
        opacity: 0.6;
        border: none;
        border-radius: 0.3em;
    }
    #header #game-menu button:hover{
        opacity: 0.8;
    }