/* 頁首設定 */

#game-box{
    right: 0;
    bottom: 200px;
}

#header{
    font-size: 0.7em;
}
#header{
    position: absolute;
    top: 110%;
    left: 5%;
    width: 90%;
    height: 200px;
}
    #header #game-menu ul{
        width: 100%;
        flex-direction: row;
        height: auto;
    }
    #header #game-menu li{
        width: 33%;
    }